os: linux
dist: trusty
language: java
install: true
jdk:
  - openjdk7
  - openjdk8
  - openjdk9
  - openjdk10
  - openjdk11
  - openjdk12
  - openjdk13
cache:
  directories:
    - $HOME/.m2
script: ./mvnw clean verify -U
